@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #454545;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* start: header  */
.banner {
  display: flex;
  justify-content: space-around;
  background-color: black;
  min-height: 500px;
  padding: 15px;
}

.banner_description_title {
  font-size: 50px;
  font-style: italic;
}

.banner_about {
  color: white;
  margin-top: 150px;
  text-align: center;
}

.banner_description {
  color: grey;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
}

/* end : header */
.main_section {
  margin-top: 20px;
}

.card_section {
  display: grid;
  grid-template-columns: 1fr 400px;
  padding: 20px;
}

.card_blog {
  display: flex;
}

.card {
  border: 1px solid grey;
  margin-right: 20px;
  background-color: black;
  width: 100%;
}

.card img {
  width: 100%;
  max-height: 341px;
}

.card_description {
  color: #fff;
  text-align: center;
}

.card_description_title {
  font-style: italic;
}

.goals_details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  color: grey;
  font-style: italic;
}

.goals_details_span {
  font-size: 30px;
  font-weight: bold;
}

.select_btn {
  width: 150px;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 255, 0.562);
  transition: all 0.5s ease-in-out;
}

.select_btn:hover {
  width: 200px;
}

.select_btn:disabled {
  color: gray;
  width: 150px;
}

.player_select_blog {
  text-align: center;
  line-height: 46px;
  color: grey;
  font-style: italic;
}

ol {
  list-style-type: decimal;
}

/* start : calculation blog */
.calculation_blog {
  text-align: center;
  background-color: black;
  color: lightgray;
  padding: 20px;
}

.calculation_blog_title {
  font-size: 40px;
  font-style: italic;
}

.per_player_cost {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.per_player_cost_input {
  color: white;
  font-size: 15px;
  background-color: black;
  border: 3px solid white;
  padding: 5px 10px;
  height: 30px;
}

.calculate_btn {
  margin-top: 50px;
  width: 80%;
  padding: 15px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 255, 0.562);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.calculate_btn:hover {
  width: 100%;
}

.player_expenses {
  margin-top: 20px;
}

.manager_article {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 22px;
}

.manager_input {
  color: #fff;
  padding: 5px 10px;
  font-size: 18px;
  margin-left: 10px;
  border: 3px solid white;
  border-radius: 3px;
  background-color: black;
}

.coach_article {
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
}

.coach_input {
  color: #fff;
  padding: 5px 10px;
  font-size: 18px;
  margin-left: 15px;
  border: 3px solid white;
  border-radius: 3px;
  background-color: black;
}

.calculate_total_btn {
  margin-top: 30px;
  width: 80%;
  padding: 15px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 255, 0.562);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.calculate_total_btn:hover {
  width: 100%;
}
/* end : calculation blog */

/* start: footer */
.footer {
  max-width: none;
  width: 100%;
  min-height: 400px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 130px;
  padding: 130px 20px auto;
}

.footer_title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

hr {
  max-width: 1341px;
  width: 100%;
  max-width: 1341px;
  width: 100%;
  margin: 50px auto;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0;
}

.footer_list_items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  max-width: 1200px;
  margin-inline: auto;
  flex-wrap: wrap;
}

.footer_list_items li {
  list-style: none;
  transition: 0.4s ease-in-out;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: #b9b9b9;
}
.footer_list_items li:hover {
  color: #fff;
}

.social_icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 560px;
  margin: auto;
}

.social_icon a {
  font-size: 33px;
  transition: 0.5s ease-in-out;
}

.social_icon a:hover {
  color: #fff;
  transform: rotate(360deg);
}

/* end : footer */
