@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #454545;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.banner {
  display: flex;
  justify-content: space-around;
  background-color: black;
  min-height: 500px;
  padding: 15px;
}

.banner_description_title {
  font-size: 50px;
  font-style: italic;
}

.banner_about {
  color: white;
  margin-top: 150px;
  text-align: center;
}

.banner_description {
  color: grey;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
}

.main_section {
  margin-top: 20px;
}

.card_section {
  display: grid;
  grid-template-columns: 1fr 400px;
  padding: 20px;
}

.card_blog {
  display: flex;
}

.card {
  border: 1px solid grey;
  margin-right: 20px;
  background-color: black;
  width: 100%;
}

.card img {
  width: 100%;
  max-height: 341px;
}

.card_description {
  color: #fff;
  text-align: center;
}

.card_description_title {
  font-style: italic;
}

.goals_details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  color: grey;
  font-style: italic;
}

.goals_details_span {
  font-size: 30px;
  font-weight: bold;
}

.select_btn {
  width: 150px;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 255, 0.562);
  transition: all 0.5s ease-in-out;
}

.select_btn:hover {
  width: 200px;
}

.player_select_blog {
  text-align: center;
  color: grey;
  font-style: italic;
}

.calculation_blog {
  text-align: center;
  background-color: black;
  color: lightgray;
  padding: 20px;
}

.calculation_blog_title {
  font-size: 40px;
  font-style: italic;
}

.per_player_cost {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.per_player_cost_input {
  color: white;
  font-size: 15px;
  background-color: black;
  border: 3px solid white;
  height: 30px;
}

.calculate_btn {
  margin-top: 50px;
  width: 80%;
  padding: 15px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 255, 0.562);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.calculate_btn:hover {
  width: 100%;
}

.player_expenses {
  margin-top: 20px;
}

.manager_article {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 22px;
}

.manager_input {
  margin-left: 10px;
  border: 3px solid white;
  border-radius: 3px;
  background-color: black;
}

.coach_article {
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
}

.coach_input {
  color: #fff;
  width: 170px;
  margin-left: 28px;
  border: 3px solid white;
  border-radius: 3px;
  background-color: black;
}

.calculate_total_btn {
  margin-top: 30px;
  width: 80%;
  padding: 15px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 255, 0.562);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.calculate_total_btn:hover {
  width: 100%;
}
